# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Database
*.db
*.sqlite3

# Logs
logs/
*.log
.local-data/

# Virtual Environment
venv/
venv_py310/
.venv/
.env/
/Include/
/Lib/
/Scripts/
/pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Custom
third_party_demos/
